{% comment %} {% extends 'f-base-generic.html' %}

{% block content %}


    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <form action="{% url 'farmer:itemEntry'%}" method="post">
    {% csrf_token %}
        <label for="itemName">Item Name:</label><br>
        <input type="text" id="itemName" name="itemName"><br><br>
        <label for="minTemp">Min Temperature:</label><br>
        <input type="text" id="minTemp" name="minTemp"><br><br>
        <label for="maxTemp">Max Temperature:</label><br>
        <input type="text" id="maxTemp" name="maxTemp"><br><br>
        <label for="storageLife">Max Storage Life in days:</label><br>
        <input type="text" id="storageLife" name="storageLife"><br><br>
        <label for="isCrop">Is this item a crop?:</label>
        <select id="isCrop" name="isCrop">
          <option value="True">Yes</option>
          <option value="False">No</option>
        </select>
        <br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form> 
{% endblock %} {% endcomment %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale-1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


		<link rel="stylesheet" href="{% static 'styles/f-add-item.css' %}" />
			<script defer src="{% static 'script/f-add-item.js' %}"></script>

		<title>Add Items</title>
	</head>

	<body>
		<div class="container">
				{% if messages %}
					<div class="warning--message">
						<div class="alert alert-error">
							<div class="icon__wrapper">
								<svg fill="#ffff" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M256,0C114.837,0,0,114.843,0,256s114.837,256,256,256s256-114.843,256-256S397.163,0,256,0z M376.239,227.501 L257.348,346.391c-13.043,13.043-34.174,13.044-47.218,0l-68.804-68.804c-13.044-13.038-13.044-34.179,0-47.218 c13.044-13.044,34.174-13.044,47.218,0l45.195,45.19l95.282-95.278c13.044-13.044,34.174-13.044,47.218,0 C389.283,193.321,389.283,214.462,376.239,227.501z"></path> </g> </g> </g></svg>
							</div>
							
								<ul class="messages">
									{% for message in messages %}
									<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
									{% endfor %}
								</ul>
								<span class="mdi mdi-open-in-new open"></span>
								<span class="mdi mdi-close close"></span>
						</div>
					</div>
			{% endif %}
			<aside>
				<div class="top">
					<div class="logo">
						<img src="{% static 'Images/WarehouseWise.png' %}" />
					</div>
					<div class="close" id="close-btn">
						<span class="material-symbols-outlined"> close </span>
					</div>
				</div>
				<div class="sidebar">
					<a href="{% url 'farmer:home' %}">
						<img
							src="{% static 'Images/navbar/house.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Home</h3>
					</a>

					<a
						href="{% url 'farmer:makeReservation' %} " class="active"
					>
						<img
							src="{% static 'Images/navbar/list-plus.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Add Reservation</h3>
					</a>
					<a href="{% url 'farmer:showReservations' %}">
						<img
							src="{% static 'Images/Navbar/report-text-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Show Reservations</h3>
					</a>
					<a href="{% url 'farmer:generateReport' %}">
						<img
							src="{% static 'Images/Navbar/file-arrow-down.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Generate Report</h3>
					</a>
					<a href="{% url 'farmer:searchNearbyWarehouses' %}">
						<img
							src="{% static 'Images/Navbar/warehouse-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Nearby warehouses</h3>
					</a>
					<a href="{% url 'farmer:videoCall' %}">
						<img
							src="{% static 'Images/Navbar/video-camera.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Video Call</h3>
					</a>

					<a href="{% url 'farmer:logout' %}">
						<img
							class="navbar--menu-icon"
							src="{% static 'Images/navbar/logout-svgrepo-com.svg' %}"
							alt=""
						/>
						<h3>Logout</h3>
					</a>
				</div>
			</aside>
			<main>
				<div class="title--heading">
					<h1 class="page--title">Add items</h1>
				</div>
				<div class="content">
					<form action="{% url 'farmer:itemEntry'%}" method="post">
                        {% csrf_token %}
						<div class="user-details">
							<div class="input-box">
								<label class="details">Item Name </label>
								<input
									type="text"
									name="itemName"
									id="fname"
									placeholder="Enter item Name"
									required
								/>
							</div>
							<br />
							<div class="input-box">
								<label class="details">Min Temperature:</label>
								<input
									type="number"
									name="minTemp"
									step="any"
									id="minTemp"
									placeholder="Enter min Temperature "
									step="any"
									max="31"
									required
								/>
							</div>
							<br />
							<div class="input-box">
								<label class="details">Max Temperature:</label>
								<input
									type="number"
									name="maxTemp"
									step="any"
									id="maxTemp"
									placeholder="Enter max Days"
									step="any"
									max="32"
									required
								/>
							</div>
							<br />
							<div class="input-box">
								<label class="details"
									>Max Storage Life in days:</label
								>
								<input
									type="number"
									name="storageLife"
									placeholder="enter max storageLife in days"
									min="1"
									required
								/>
							</div>
							<br />
							<div class="input-box">
								<label class="details" for="isCrop"
									>Is this item a crop?:</label
								>
								<select id="isCrop" name="isCrop" required>
									<option value="True">Yes</option>
									<option value="False">No</option>
								</select>
							</div>
						</div>
						<div class="button">
							<input type="submit" value="submit" />
						</div>
					</form>
				</div>
			</main>
		</div>
	</body>
</html>
