{% comment %} {% extends 'f-base-generic.html' %}

{% block content %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <h1>Hi! {{ user }}</h1>
    <a href="{% url 'farmer:logout' %}" class="btn btn-primary">Log out</a>
    <a href="{% url 'farmer:searchNearbyWarehouses' %}" class="btn btn-primary">Search nearby Warehouses</a>
    <a href="{% url 'farmer:makeReservation' %}" class="btn btn-primary">Make Reservation</a>
    <a href="{% url 'farmer:showReservations' %}" class="btn btn-primary">Show Reservations</a>
    <a href="{% url 'farmer:showCropSuggestions' %}" class="btn btn-primary">Show Crop Suggestions</a>
    <a href="{% url 'farmer:videoCall' %}" class="btn btn-primary">Video Call</a>
    <a href="{% url 'farmer:generateReport' %}" class="btn btn-primary">Download Report</a>
{% endblock %} {% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin Dashboard</title>
		
		<!-- Icons -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
		href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
		rel="stylesheet"
		/>
		
		<link rel="stylesheet" href="{% static 'styles\f-dashboard.css' %}" />
		<!-- Material Icons -->
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>

	<body>
		<div class="container">
			<aside>
				<div class="top">
					<div class="logo">
						<img src="{% static 'Images/WarehouseWise.png' %}" />
					</div>
					<div class="close" id="close-btn">
						<span class="material-symbols-outlined"> close </span>
					</div>
				</div>
				<div class="sidebar">
					<a href="{% url 'farmer:home' %}">
						<img
							src="{% static 'Images/navbar/house.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Home</h3>
					</a>

					<a
						href="{% url 'farmer:makeReservation' %}"
					>
						<img
							src="{% static 'Images/navbar/list-plus.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Add Reservation</h3>
					</a>
					<a href="{% url 'farmer:showReservations' %}">
						<img
							src="{% static 'Images/Navbar/report-text-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Show Reservations</h3>
					</a>
					<a href="{% url 'farmer:generateReport' %}">
						<img
							src="{% static 'Images/Navbar/file-arrow-down.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Generate Report</h3>
					</a>
					<a href="{% url 'farmer:videoCall' %}">
						<img
							src="{% static 'Images/Navbar/video-camera.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Video Call</h3>
					</a>

					<a href="{% url 'farmer:logout' %}">
						<img
							class="navbar--menu-icon"
							src="{% static 'Images/navbar/logout-svgrepo-com.svg' %}"
							alt=""
						/>
						<h3>Logout</h3>
					</a>
				</div>
			</aside>
			<!-- END OF ASIDE -->
			<main>
				<h1 class="page--title">Dashboard</h1>
				<div class="date">
					<span class="date--span"> </span>
				</div>
				<div class="profile-title">
					<h1 class="user--name--column">
						Welcome, <span class="user--name">Jaimin Rathwa </span>
					</h1>
					<div class="user--details">
						<span class="material-icons mail--icon--user"
							>mail</span
						>
						<p class="user--email">
							Email: <span>Jaiminrathwa28@gmail.com</span>
						</p>
					</div>
				</div>
				<!-- End of insights -->
				<div class="weather-price-div">
					<div class="weather--container">
						<h2>weather</h2>
						<div class="weather">
							<div class="header">
								<div class="location">
									<img
										class="location--svg"
										src="{% static 'Images/Weather/location.svg' %}"
										alt="location icon"
									/>
									<h3 class="user--location"></h3>
								</div>
								<div class="last-updated-div">
									<p>last updated:</p>
									<p class="weather-update-date">date</p>
								</div>
							</div>

							<div class="location-not-found">
								<h1>Sorry, Location not found!!!</h1>
								<img
									src="{% static 'Images/Weather/404.png' %}"
									alt="404 Error"
								/>
							</div>

							<div class="weather-body">
								<img
									src="{% static 'Images/Weather/cloud.png' %}"
									alt="Weather Image"
									class="weather-img"
								/>

								<div class="weather-box">
									<p class="temperature">0 <sup>°C</sup></p>
									<p class="description">light rain</p>
								</div>

								<div class="weather-details">
									<div class="humidity">
										<i
											class="fa-sharp fa-solid fa-droplet"
										></i>
										<div class="text">
											<span id="humidity">%</span>
											<p>Humidity</p>
										</div>
									</div>

									<div class="wind">
										<i class="fa-solid fa-wind"></i>
										<div class="text">
											<span id="wind-speed">12Km/H</span>
											<p>Wind Speed</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="crop--pricing">
						<h2 class="crop--pricing--heading">
							Crop pricings
							<span class="crop-unit"
								>Unit : price per quintal</span
							>
						</h2>

						<div class="item wheat">
							<div class="icon">
								<img
									class="crop--icons"
									src="{% static 'Images/cropSuggestion/wheat-svgrepo-com.svg' %}"
									alt="wheat icon"
								/>
							</div>
							<div class="right">
								<div class="info">
									<h3>Wheat</h3>
									<small class="text-muted"
										>Last 24 hours</small
									>
								</div>
								<h3 class="wheat--price">3765</h3>
							</div>
						</div>
						<div class="item rice">
							<div class="icon">
								<img
									class="crop--icons"
									src="{% static 'Images/cropSuggestion/rice-bowl-svgrepo-com.svg' %}"
									alt="wheat icon"
								/>
							</div>
							<div class="right">
								<div class="info">
									<h3>Rice</h3>
									<small class="text-muted"
										>Last 24 hours</small
									>
								</div>
								<h3 class="rice--price">1165</h3>
							</div>
						</div>
						<div class="item corn">
							<div class="icon">
								<img
									class="crop--icons"
									src="{% static 'Images/cropSuggestion/corn-1-svgrepo-com.svg' %}"
									alt="wheat icon"
								/>
							</div>
							<div class="right">
								<div class="info">
									<h3>Corn</h3>
									<small class="text-muted"
										>Last 24 hours</small
									>
								</div>
								<h3 class="corn--price">765</h3>
							</div>
						</div>
					</div>
				</div>
			</main>

			<!-- end of main -->

			<div class="right">
				<!-- end of updates -->
				<div class="news--div">
					<h2>Recent News Updates</h2>
					<p class="news--sources">
						sources :
						<span class="news--source">Times of india </span>
					</p>
					<div class="news--blocks--div"></div>
				</div>
			</div>
		</div>
		<script src="{% static 'script/orders.js' %}"></script>
		<script src="{% static 'script/dashboard.js' %}"></script>
	</body>
</html>