{% comment %} {% extends 'f-base-generic.html' %}

{% block content %}


    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <form action="{% url 'farmer:reservationEntry'%}" method="post">
    {% csrf_token %}
        <label for="warehouseEmail">Warehouse Email:</label><br>
        <input type="text" id="warehouseEmail" name="warehouseEmail"><br><br>
        <label for="itemName">Choose a item:</label>
        <select id="itemName" name="itemName">
        {% for item in items %}
            <option value={{ item.name }}>
                <p>
                    Name: {{ item.name }}, 
                    Min Temperature: {{ item.min_temperature }}, 
                    Max Temperature: {{ item.max_temperature }}, 
                    Storage Life: {{ item.storage_life }}, 
                    Is a crop: {{ item.is_crop }}
                </p>
            </option>
        {% endfor %}
        </select>
        <br><br>
        <a href="{% url 'farmer:addItem' %}" class="btn btn-primary">Add Item</a><br>
        <label for="startDate">Start Date:</label><br>
        <input type="date" id="startDate" name="startDate"><br><br>
        <label for="endDate">End Date:</label><br>
        <input type="date" id="endDate" name="endDate"><br><br>
        <label for="quantity">Quantity (in kg):</label><br>
        <input type="number" step="any" min=0 id="quantity" name="quantity"><br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form> 
{% endblock %} {% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale-1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

		<link rel="stylesheet" href="{% static 'styles/farmer-reservation.css' %}" />

		<script defer src="{% static 'script/farmer-registration.js' %}"></script>

		<title>Farmer Reservation</title>
	</head>

	<body>
		<div class="container">
				{% if messages %}
					<div class="warning--message">
						<div class="alert alert-error">
							<div class="icon__wrapper">
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M236.8,188.09,149.35,36.22h0a24.76,24.76,0,0,0-42.7,0L19.2,188.09a23.51,23.51,0,0,0,0,23.72A24.35,24.35,0,0,0,40.55,224h174.9a24.35,24.35,0,0,0,21.33-12.19A23.51,23.51,0,0,0,236.8,188.09ZM222.93,203.8a8.5,8.5,0,0,1-7.48,4.2H40.55a8.5,8.5,0,0,1-7.48-4.2,7.59,7.59,0,0,1,0-7.72L120.52,44.21a8.75,8.75,0,0,1,15,0l87.45,151.87A7.59,7.59,0,0,1,222.93,203.8ZM120,144V104a8,8,0,0,1,16,0v40a8,8,0,0,1-16,0Zm20,36a12,12,0,1,1-12-12A12,12,0,0,1,140,180Z"></path></svg>
							</div>
							
								<ul class="messages">
									{% for message in messages %}
									<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
									{% endfor %}
								</ul>
								<span class="mdi mdi-open-in-new open"></span>
								<span class="mdi mdi-close close"></span>
						</div>
					</div>
			{% endif %}
			<aside>
				<div class="top">
					<div class="logo">
						<img src="{% static 'Images/WarehouseWise.png' %}" />
					</div>
					<div class="close" id="close-btn">
						<span class="material-symbols-outlined"> close </span>
					</div>
				</div>
				<div class="sidebar">
					<a href="{% url 'farmer:home' %}">
						<img
							src="{% static 'Images/navbar/house.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Home</h3>
					</a>

					<a
						href="{% url 'farmer:makeReservation' %}" class="active"
					>
						<img
							src="{% static 'Images/navbar/list-plus.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Add Reservation</h3>
					</a>
					<a href="{% url 'farmer:showReservations' %}">
						<img
							src="{% static 'Images/Navbar/report-text-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Show Reservations</h3>
					</a>
					<a href="{% url 'farmer:generateReport' %}">
						<img
							src="{% static 'Images/Navbar/file-arrow-down.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Generate Report</h3>
					</a>
					<a href="{% url 'farmer:searchNearbyWarehouses' %}">
						<img
							src="{% static 'Images/Navbar/warehouse-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Nearby warehouses</h3>
					</a>
					<a href="{% url 'farmer:showCropSuggestions' %}">
						<img
							src="{% static 'Images/Navbar/cropSuggest.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Crop Suggestions</h3>
					</a>
					<a href="{% url 'farmer:videoCall' %}">
						<img
							src="{% static 'Images/Navbar/video-camera.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Video Call</h3>
					</a>

					<a href="{% url 'farmer:logout' %}">
						<img
							class="navbar--menu-icon"
							src="{% static 'Images/navbar/logout-svgrepo-com.svg' %}"
							alt=""
						/>
						<h3>Logout</h3>
					</a>
				</div>
			</aside>
			<main>
				<div class="page--title">Reservation</div>
				<div class="content">
					<form action="{% url 'farmer:reservationEntry'%}" method="post">
                        {% csrf_token %}
						<div class="user-details">
							<div class="input-box">
								<label class="details">Warehouse Email:</label>
								<input
									type="email"
									name="warehouseEmail"
									id="warehouseEmail"
									placeholder="Enter the warehouse email"
									required
								/>
							</div>
							<div class="input-box">
								<label class="details">Quantity (in kgs)</label>
								<input
									type="number"
									name="quantity"
									id="quantity"
									min="0"
									required
								/>
							</div>
							<div class="input-box">
								<label class="details">Start Date</label>
								<input
									type="date"
									name="startDate"
									id="startDate"
									required
								/>
							</div>
							<div class="input-box" id="endDateBlck">
								<label class="details">End Date</label>
								<input
									type="date"
									name="endDate"
									id="endDate"
									required
								/>
							</div>
						</div>
							<div class="input-box addItem--div">
								<div>
									<label class="details addItem--label">Item Name</label>
									<select id="itemName" name="itemName">
										{% for item in items %}
											<option value={{ item.name }}>
											<p>
												Name: {{ item.name }}, 
												Min Temperature: {{ item.min_temperature }}, 
												Max Temperature: {{ item.max_temperature }}, 
												Storage Life: {{ item.storage_life }}, 
												Is a crop: {{ item.is_crop }}
											</p>
											</option>
										{% endfor %}
									</select>
								</div>
								<a href="{% url 'farmer:addItem' %}" class="add-item-btn" > Add Item </a>
							</div>
						<div class="button">
							<input type="submit" value="Make Reservation" />
						</div>
					</form>
				</div>
			</main>
		</div>
	</body>
</html>
