{% comment %} {% extends 'f-base-generic.html' %}

{% block content %}


    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <form action="{% url 'farmer:reservationEntry'%}" method="post">
    {% csrf_token %}
        <label for="warehouseEmail">Warehouse Email:</label><br>
        <input type="text" id="warehouseEmail" name="warehouseEmail"><br><br>
        <label for="itemName">Choose a item:</label>
        <select id="itemName" name="itemName">
        {% for item in items %}
            <option value={{ item.name }}>
                <p>
                    Name: {{ item.name }}, 
                    Min Temperature: {{ item.min_temperature }}, 
                    Max Temperature: {{ item.max_temperature }}, 
                    Storage Life: {{ item.storage_life }}, 
                    Is a crop: {{ item.is_crop }}
                </p>
            </option>
        {% endfor %}
        </select>
        <br><br>
        <a href="{% url 'farmer:addItem' %}" class="btn btn-primary">Add Item</a><br>
        <label for="startDate">Start Date:</label><br>
        <input type="date" id="startDate" name="startDate"><br><br>
        <label for="endDate">End Date:</label><br>
        <input type="date" id="endDate" name="endDate"><br><br>
        <label for="quantity">Quantity (in kg):</label><br>
        <input type="number" step="any" min=0 id="quantity" name="quantity"><br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form> 
{% endblock %} {% endcomment %}


{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale-1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

		<link rel="stylesheet" href="{% static 'styles/farmer-reservation.css' %}" />

		<script defer src="{% static 'script/script.js' %}"></script>

		<title>Farmer Reservation</title>
	</head>

	<body>
		<div class="container">
			<aside>
				<div class="top">
					<div class="logo">
						<img src="{% static 'Images/WarehouseWise.png' %}" />
					</div>
					<div class="close" id="close-btn">
						<span class="material-symbols-outlined"> close </span>
					</div>
				</div>
				<div class="sidebar">
					<a href="{% url 'farmer:home' %}">
						<img
							src="{% static 'Images/navbar/house.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Home</h3>
					</a>

					<a
						href="{% url 'farmer:makeReservation' %}"
					>
						<img
							src="{% static 'Images/navbar/list-plus.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Add Reservation</h3>
					</a>
					<a href="{% url 'farmer:showReservations' %}">
						<img
							src="{% static 'Images/Navbar/report-text-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Show Reservations</h3>
					</a>
					<a href="{% url 'farmer:generateReport' %}">
						<img
							src="{% static 'Images/Navbar/file-arrow-down.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Generate Report</h3>
					</a>
					<a href="{% url 'farmer:videoCall' %}">
						<img
							src="{% static 'Images/Navbar/video-camera.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Video Call</h3>
					</a>

					<a href="{% url 'farmer:logout' %}">
						<img
							class="navbar--menu-icon"
							src="{% static 'Images/navbar/logout-svgrepo-com.svg' %}"
							alt=""
						/>
						<h3>Logout</h3>
					</a>
				</div>
			</aside>
			<main>
                {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
                {% endif %}
				<div class="page--title">Reservation</div>
				<div class="content">
					<form action="{% url 'farmer:reservationEntry'%}" method="post">
                        {% csrf_token %}
						<div class="user-details">
							<div class="input-box">
								<label class="details">Warehouse Email:</label>
								<input
									type="email"
									name="warehouseEmail"
									id="warehouseEmail"
									placeholder="Enter the warehouse email"
									required
								/>
							</div>
                            <div class="input-box">
								<label class="details">Item Name</label>
								<select id="itemName" name="itemName">
                                    {% for item in items %}
                                        <option id="crop-item" value={{ item.name }}>
                                            <p>
                                                Name: {{ item.name }}, 
                                                Min Temperature: {{ item.min_temperature }}, 
                                                Max Temperature: {{ item.max_temperature }}, 
                                                Storage Life: {{ item.storage_life }}, 
                                                Is a crop: {{ item.is_crop }}
                                            </p>
                                        </option>
                                    {% endfor %}
                                </select>
							</div>
							<a href="{% url 'farmer:addItem' %}"> Add Item </a>
							<div class="input-box">
								<label class="details">Start Date</label>
								<input
									type="date"
									name="startDate"
									id="startDate"
									required
								/>
							</div>
							<div class="input-box">
								<label class="details">End Date</label>
								<input
									type="date"
									name="endDate"
									id="endDate"
									required
								/>
							</div>
							<div class="input-box">
								<label class="details">Quantity (in kgs)</label>
								<input
									type="number"
									name="quantity"
									id="quantity"
									min="0"
									required
								/>
							</div>
						</div>
						<div class="button">
							<input type="submit" value="Make Reservation" />
						</div>
					</form>
				</div>
			</main>
		</div>
	</body>
</html>
