{% comment %} {% extends 'f-base-generic.html' %}

{% block content %}


    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}


    <form action="{% url 'farmer:showNearbyWarehouses'%}" method="post">
    {% csrf_token %}
        <label for="latitude">Latitude:</label><br>
        <input type="text" id="latitude" name="latitude"><br><br>
        <label for="longitude">Longitude:</label><br>
        <input type="text" id="longitude" name="longitude"><br><br>
        <label for="distance">Distance:</label><br>
        <input type="text" id="distance" name="distance"><br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form> 
{% endblock %} {% endcomment %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="shortcut icon" type="image/png" href="/icon.png" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>

		<link rel="stylesheet" href="{% static 'styles/f-nearby.css' %}" />


		<title>Find nearby Warehouse</title>
	</head>
	<body>
		<div class="container">
				{% if messages %}
					<div class="warning--message">
						<div class="alert alert-error">
							<div class="icon__wrapper">
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M236.8,188.09,149.35,36.22h0a24.76,24.76,0,0,0-42.7,0L19.2,188.09a23.51,23.51,0,0,0,0,23.72A24.35,24.35,0,0,0,40.55,224h174.9a24.35,24.35,0,0,0,21.33-12.19A23.51,23.51,0,0,0,236.8,188.09ZM222.93,203.8a8.5,8.5,0,0,1-7.48,4.2H40.55a8.5,8.5,0,0,1-7.48-4.2,7.59,7.59,0,0,1,0-7.72L120.52,44.21a8.75,8.75,0,0,1,15,0l87.45,151.87A7.59,7.59,0,0,1,222.93,203.8ZM120,144V104a8,8,0,0,1,16,0v40a8,8,0,0,1-16,0Zm20,36a12,12,0,1,1-12-12A12,12,0,0,1,140,180Z"></path></svg>
							</div>
							
								<ul class="messages">
									{% for message in messages %}
									<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
									{% endfor %}
								</ul>
								<span class="mdi mdi-open-in-new open"></span>
								<span class="mdi mdi-close close"></span>
						</div>
					</div>
			{% endif %}
            <aside>
				<div class="top">
					<div class="logo">
						<img src="{% static 'Images/WarehouseWise.png' %}" />
					</div>
				</div>
				<div class="sidebar">
					<a href="{% url 'farmer:home' %}">
						<img
							src="{% static 'Images/navbar/house.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Home</h3>
					</a>

					<a
						href="{% url 'farmer:makeReservation' %}"
					>
						<img
							src="{% static 'Images/navbar/list-plus.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Add Reservation</h3>
					</a>
					<a href="{% url 'farmer:showReservations' %}">
						<img
							src="{% static 'Images/Navbar/report-text-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Show Reservations</h3>
					</a>
					<a href="{% url 'farmer:generateReport' %}">
						<img
							src="{% static 'Images/Navbar/file-arrow-down.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Generate Report</h3>
					</a>
					<a href="{% url 'farmer:searchNearbyWarehouses' %}" class="active">
						<img
							src="{% static 'Images/Navbar/warehouse-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Nearby warehouses</h3>
					</a>
					<a href="{% url 'farmer:showCropSuggestions' %}">
						<img
							src="{% static 'Images/Navbar/cropSuggest.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Crop Suggestions</h3>
					</a>
					<a href="{% url 'farmer:videoCall' %}">
						<img
							src="{% static 'Images/Navbar/video-camera.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Video Call</h3>
					</a>

					<a href="{% url 'farmer:logout' %}">
						<img
							class="navbar--menu-icon"
							src="{% static 'Images/navbar/logout-svgrepo-com.svg' %}"
							alt=""
						/>
						<h3>Logout</h3>
					</a>
				</div>
			</aside>

			<main>
				<h1 class="page--title">Search nearby warehouses</h1>
					<!-- Modal content -->
					<div class="modal-content">
						<form action="{% url 'farmer:showNearbyWarehouses'%}" method="post">
							{% csrf_token %}
								<div class="user-details">
									<div class="input-box">
										<label class="details">Latitude</label>
										<input
											type="number"
											name="latitude"
											id="latitude"
											required
										/>
									</div>
									<div class="input-box">
										<label class="details">Longitude</label>
										<input
											type="number"
											name="longitude"
											id="longitude"
											required
										/>
									</div>
									<div class="input-box">
										<label class="details">Distance ( in Kms) </label>
										<input
											type="number"
											name="distance"
											id="Distance"
											placeholder="Enter your desiered distance"
											required
											min="1"
										/>
									</div>
									<div class="input-box Detect-location">
										<button class="button-8">
											<span
												><svg
													xmlns="http://www.w3.org/2000/svg"
													height="18"
													viewBox="0 96 960 960"
													width="18"
													fill="#c12424"
												>
													<path
														d="M450 1014v-75q-137-14-228-105T117 606H42v-60h75q14-137 105-228t228-105v-75h60v75q137 14 228 105t105 228h75v60h-75q-14 137-105 228T510 939v75h-60Zm30-134q125 0 214.5-89.5T784 576q0-125-89.5-214.5T480 272q-125 0-214.5 89.5T176 576q0 125 89.5 214.5T480 880Zm0-154q-63 0-106.5-43.5T330 576q0-63 43.5-106.5T480 426q63 0 106.5 43.5T630 576q0 63-43.5 106.5T480 726Zm0-60q38 0 64-26t26-64q0-38-26-64t-64-26q-38 0-64 26t-26 64q0 38 26 64t64 26Zm0-90Z"
													/></svg></span
											>Detect Location
										</button>
									</div>
								</div>
							<div class="button">
								<input
									type="submit"
									class="submit--btn"
									value="Search"
								/>
							</div>
						</form>
					</div>
			</main>
		</div>


        <script>
                        
            const clearbtn = document.querySelector(".clear-btn");
            const containerEl = document.querySelector(".container");
            const addressEL = document.querySelector(".address");
            const warehouselocationsEl = document.querySelector(".Warehouse--locations");
            const areaLocationText = document.querySelector(".area--location-text");


            // {% comment %} addWarehouseLocations(locations); {% endcomment %}

            // const options = {
            //   method: 'GET',
            //   headers: {
            //     'X-RapidAPI-Key': '8048530456mshd702a7e93d8d947p133668jsn0dcdbe319bbd',
            //     'X-RapidAPI-Host': 'trueway-matrix.p.rapidapi.com',
            //   },
            // };

            // fetch(
            //   'https://trueway-matrix.p.rapidapi.com/CalculateDrivingMatrix?origins=23.1870706%2C%2072.6268105&destinations=23.185675%2C72.629526',
            //   options
            // )
            //   .then(response => response.json())
            //   .then(response => console.log(response))
            //   .catch(err => console.error(err));

            //  Modal window

            // Get the modal


            // When the user clicks on the button, open the modal

            const latitudeEl = document.getElementById("latitude");
            const longitudeEl = document.getElementById("longitude");
            const distanceEl = document.getElementById("Distance");

            const detectButton = document.querySelector(".button-8");

            detectButton.addEventListener("click", function () {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition((position) => {
                        const { latitude, longitude } = position.coords;
                        latitudeEl.setAttribute("value", `${latitude}`);
                        longitudeEl.setAttribute("value", `${longitude}`);
                    });
                }
            });

            // When the user clicks on <span> (x), close the modal
            

            // When the user clicks anywhere outside of the modal, close it

        </script>
	</body>
</html>
