{% extends 'f-base-generic.html' %}

{% block content %}
    <div>
        Warehouses in {{ distance }} km radius are:
        <br><br>
        {% for warehouse in warehouse_list %}
            <div>
                Name: {{ warehouse.name }} <br>
                Email: {{ warehouse.email }} <br>
                Phone Number: {{ warehouse.phone_number }} <br>
                Storage Capacity: {{ warehouse.storage_capacity }} <br>
                Distance: {{ warehouse.distance }} km <br>
            </div>
            <br><br><hr>
        {% endfor %}
    </div>
{% endblock %}