{% extends 'f-base-generic.html' %}

{% block content %}
    <div>
        Reservations made by you are:
        <br><br>
        {% for item in items %}
            <div>
                Item Name: {{ item.item_name }} <br>
                Warehouse Email: {{ item.warehouse_email }} <br>
                Start Date: {{ item.start_date }} <br>
                End Date: {{ item.end_date }} <br>
                Quantity: {{ item.quantity }} kg <br>
                <a href="{% url 'farmer:modifyReservation' item.reservation_id %}" class="btn btn-primary">Modify Reservation</a>
            </div>
            <br><br><hr>
        {% endfor %}
    </div>
{% endblock %}