.env
__pycache__
*.swp
*.sqlite
*.pyc
#passphrase for the ssh key: password
code/warehouse_management/farmer/__pycache__/admin.cpython-39.pyc
code/warehouse_management/farmer/__pycache__/__init__.cpython-39.pyc
code/warehouse_management/farmer/__pycache__/admin.cpython-39.pyc
code/warehouse_management/farmer/__pycache__/apps.cpython-39.pyc
code/warehouse_management/farmer/__pycache__/models.cpython-39.pyc
code/warehouse_management/farmer/__pycache__/tokens.cpython-39.pyc
code/warehouse_management/farmer/__pycache__/urls.cpython-39.pyc
code/warehouse_management/farmer/__pycache__/views.cpython-39.pyc
code/warehouse_management/farmer/migrations/__pycache__/__init__.cpython-39.pyc
code/warehouse_management/home/__pycache__/__init__.cpython-39.pyc
code/warehouse_management/home/__pycache__/admin.cpython-39.pyc
code/warehouse_management/home/__pycache__/apps.cpython-39.pyc
code/warehouse_management/home/__pycache__/models.cpython-39.pyc
code/warehouse_management/home/__pycache__/urls.cpython-39.pyc
code/warehouse_management/home/__pycache__/views.cpython-39.pyc
code/warehouse_management/home/migrations/__pycache__/__init__.cpython-39.pyc
code/warehouse_management/warehouse/__pycache__/__init__.cpython-39.pyc
code/warehouse_management/warehouse/__pycache__/admin.cpython-39.pyc
code/warehouse_management/warehouse/__pycache__/apps.cpython-39.pyc
code/warehouse_management/warehouse/__pycache__/models.cpython-39.pyc
code/warehouse_management/warehouse/__pycache__/tokens.cpython-39.pyc
code/warehouse_management/warehouse/__pycache__/urls.cpython-39.pyc
code/warehouse_management/warehouse/__pycache__/views.cpython-39.pyc
code/warehouse_management/warehouse/migrations/__pycache__/__init__.cpython-39.pyc
code/warehouse_management/warehouse_management/__pycache__/__init__.cpython-39.pyc
code/warehouse_management/warehouse_management/__pycache__/settings.cpython-39.pyc
code/warehouse_management/warehouse_management/__pycache__/urls.cpython-39.pyc
