
:root
{
     --color-primary: #d62828;
    --color-danger: #f77f00;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light:#dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f5fbff;

    
  --color-dark--1: var(--color-dark);
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);

    --color-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem :var(--color-light);
}

.dark-theme-variables {
	--color-background: #181a1e;
	--color-dark: rgba(0, 0, 0, 0.4);
	--color-light: #edeffd;
	--color-white: #202528;
	--color-dark-variant: #a3bdcc;
	--box-shadow: 0 2rem 3rem var(--color-light);
}
* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: none;
	border: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: "Manrope", sans-serif;
	font-size: 1.6rem;
	background-color: var(--color-background);
	user-select: none;
	overflow-x: hidden;
	overflow: hidden;
	color: var(--color-dark);
}

.container {
	width: 100%;
	display: flex;
	/* justify-content: space-between; */
}

a {
	color: var(--color-dark);
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-weight: 800;
	font-size: 1.8rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.2rem;
}

small {
	font-size: 0.75rem;
}
.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

.profile-photo {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
	overflow: hidden;
}

.text-muted {
	color: var(--color-info-dark);
}

p {
	color: var(--color-dark-variant);
}

b {
	color: var(--color-dark);
}

.primary {
	color: var(--color-primary);
}

.danger {
	color: var(--color-danger);
}

.success {
	color: var(--color-success);
}

.warning {
	color: var(--color-warning);
}


aside {
	height: 100vh;
	background-color: rgb(240, 234, 234);
	width: 32rem;
}
.navbar--menu-icon{
	width: 1.6rem;
}
aside .top {
	/* background: white; */
	/* position: fixed; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.4rem;
}
aside .logo {
	display: flex;
	gap: 2rem;
}

aside .logo img {
	width: 2rem;
	height: 2rem;
}

aside .close {
	display: none;
}
aside .sidebar {
	/* background: white ;  */
	display: flex;
	flex-direction: column;
	height: 86vh;
	position: relative;
	top: 3rem;
}

aside .logo img {
	width: 2rem;
	height: 2rem;
}

aside h3 {
	font-size: 1.6rem;
	font-weight: 500;
}

aside .sidebar a {
	display: flex;
	color: var(--color-info-dark);
	margin-left: 2rem;
	gap: 1rem;
	align-items: center;
	position: relative;
	height: 3.7rem;
	transition: all 300ms ease;
	margin-bottom: 1.2rem;
}
aside .sidebar a span {
	font-size: 1.6rem;
	transition: all 300ms ease;
}
aside .sidebar a:last-child {
	position: absolute;
	bottom: 2rem;
	width: 100%;
}
aside .sidebar a.active {
	background: var(--color-light);
	color: var(--color-primary);
	margin-left: 0;
	padding: 1rem;
}

aside .sidebar a.active::before {
	content: "";
	width: 6px;
	height: 100%;
	background: var(--color-primary);
}
aside .sidebar a .onclickf {
	transition: all 300ms ease;
}
aside .sidebar a.active span {
	color: var(--color-primary);
	margin-left: calc(1rem -3px);
}

aside .sidebar a:hover {
	color: var(--color-primary);
}

aside .sidebar a:hover span {
	margin-left: 1rem;
}

aside .sidebar .message-count {
	background: var(--color-danger);
	color: var(--color-white);
	padding: 2px 10px;
	font-size: 11px;
	border-radius: var(--border-radius-1);
}



/* Container */
.container .title {
	font-size: 3.6rem;
	font-weight: 600;
	position: relative;
	color: #2e020a;
	display: block;
	margin-left: 13rem;
}


/* Main */
.page--title {
	font-size: 4.2rem;
	margin: 1.6rem 0 0 2rem;
	display: block;
}

.content {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	width: 80%;
	margin: 2rem auto;

	border-radius: 6px;
}
main {
	margin: 4rem 2.4rem 0 2.4rem;
	width: 100%;
}


.show--registration{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

table{
    border-collapse:collapse;
    box-shadow: 0 5px 1px var(--color-info-light);
    background-color: var(--color-white);
    text-align: left;
    overflow: hidden;
}

table thead{
    box-shadow: 0 5px 10px var(--color-info-light);
}

table thead th{
    padding: 1rem 4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
    font-weight: 900; 
    border-right: 2px solid var(--color-light--2);
    text-align: center;
    border-left: 2px solid var(--color-light--2);
}

table tbody td{
    padding: 1rem 2rem; 
    text-align: center  ;
}

.Modify-btn{
    display: flex;
    justify-content: center;
}


table 
form .button input:hover {
	/* transform: scale(0.99); */
	background-color: #e40b31;
}
@media (max-width: 584px) {
	.container {
		max-width: 100%;
	}
	form .user-details .input-box {
		margin-bottom: 15px;
		width: 100%;
	}
	form .category {
		width: 100%;
	}
	.content form .user-details {
		max-height: 300px;
		overflow-y: scroll;
	}
	.user-details::-webkit-scrollbar {
		width: 5px;
	}
}
@media (max-width: 459px) {
	.container .content .category {
		flex-direction: column;
	}
}


.important--mark{
	color: #e40b31;
}


aside .logo {
	display: flex;
}

aside .logo img {
	width: 20rem;
	height: 4rem;
	object-fit: contain;
	margin-left: 2.4rem;
}


/* Button Css */
/* CSS */
.modify-btn {
  align-items: center;
  background-color: #ffffef;
  background-position: 0 0;
  border: 1px solid #e1e1ce;
  border-radius: 0.6rem;
  box-sizing: border-box;
  color: #5a5a43;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 0.05rem 0.1rem;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;

  justify-content: center;
}

.modify-btn:active,
.modify-btn:hover,
.modify-btn:focus {
  outline: 0;
}


.modify-btn:active {
  background-color: #5a5a43;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.modify-btn:hover {
  background-color: #f0f0e7;
  border-color: #cacaaa;
}

.modify-btn:active:hover,
.modify-btn:focus:hover,
.modify-btn:focus {
  background-color: #5a5a43;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}



/* Delete button */

/* CSS */
.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 0.6rem;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 0.05rem 1.2rem;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;

  justify-content: center;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}



/* Alert */
.alert {
	min-height: 67px;
	width: 560px;
	max-width: 90%;
	border-radius: 12px;
	padding: 16px 22px 17px 20px;
	display: flex;
	align-items: center;
}

.warning--message {
	position: fixed;
	top: 2rem;
	left: 15%;
}

.messages {
	color: white;
	list-style: none;
	font-size: 1.6rem;
	margin-left: 4rem;
}

.alert-error {
	background: #e41749;
}
.icon__wrapper {
	height: 34px;
	width: 34px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.253);
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon__wrapper span {
	font-size: 21px;
	color: #fff;
}
.alert p {
	color: #fff;
	font-family: Verdana;
	margin-left: 10px;
}
.alert p a,
.alert p a:visited,
.alert p a:active {
	color: #fff;
}
.alert .open {
	margin-left: auto;
	margin-right: 5px;
}
.alert .close,
.alert .open {
	color: #fff;
	transition: transform 0.5s;
	font-size: 18px;
	cursor: pointer;
}
.alert .close:hover,
.alert .open:hover {
	transform: scale(1.3);
}