* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Montserrat", sans-serif;
	background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url("/static/Images/warehouse_background.png");
	background-size: 100% auto;
	background-size: cover;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
}
.banner {
	width: 100%;
}
.logo {
	color: white;
}

.logo-img {
	width: 32rem;
}

.navbar {
	width: 60%;
	margin: auto;
	padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0px 15px;
}
.navbar ul li a {
	font-size: 1.4rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.navbar ul li::after {
	content: "";
	height: 3px;
	width: 100%;
	background: #009688;
	position: relative;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.center {
	width: 48rem;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 65%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: flex;
	list-style-type: none;
}
.button:hover {
	background-color: aquamarine;
}
.button {
	padding: 12px 12px;
	background-color: red;
	list-style: none;
	position: relative;
	text-decoration: none;
	border-radius: 4px;
	margin: 10px 18px;
}
/* .hr {
    border-left: 2px solid rgb(238, 244, 238);
    height: 90px;
    position: relative;
    left: 50%;
    margin-left: 15px;
    margin-bottom: 100px;
    top: 80%;
  } */
.hr {
	border-left: 3px solid white;
	height: 100px;
	margin-top: -40px;
	/* left: 50%; */
}
.btn1 {
	cursor: pointer;
	padding: 1.2rem 6rem;
	color: #fff;
	text-decoration: none;
	font-size: 1.6rem;

	border: 1px solid red;
	background-color: transparent;
	border-radius: 4px;
	margin: 10px 18px;
	/* color: #3498db; */
	/* font-size: 1.5em; */
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.sign-up-btn {
	background-color: red;
}
.main--login--panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3rem;
}

.image--container {
	display: flex;
	align-items: center;
	margin-top: 10vh;
}

.heading {
	text-transform: uppercase;
	color: white;
	font-size: 5.2rem;
	/* width: 3rem; */
	display: flex;
	flex-direction: column;
	transform: translateX(-50%);
	margin-bottom: 30px;
	/* transform: translateY(-%); */
}

.heading span {
	display: inline-block;
}
