*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}

body {
	font-family: "Montserrat", sans-serif;
}

html {
	font-size: 18px;
	line-height: 1.4;
}

.container {
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.9),
			rgba(255, 255, 255, 0.9)
		),
		url("/static/Images/Farmer_homePage_image.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.option--container {
	background-color: #fff;
	width: 34rem;
	height: 24rem;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 3rem;
}

.heading {
	font-size: 2rem;
	margin-bottom: 34px;
}

.options--list {
	list-style: none;
}

.option {
	margin-bottom: 2rem;
	width: 16rem;
	padding: 28px 40px;
	text-align: center;
}

.option--link {
	color: #333;
	text-decoration: none;
	font-size: 30px;
}

.red--border-3px {
	border: 3px solid red;
}

.purple--border-3px {
	border: 3px solid purple;
}
