{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Choose an app</title>
	</head>

	<!-- Font links -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap"
		rel="stylesheet"
	/>

	<!-- Styles -->
	<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
	<body>
		<main class="container">
			<div class="option--container">
				<h1 class="heading">I'm A</h1>
				<ul class="options--list">
					<li class="option red--border-3px">
						<a
							class="option--link"
							href="{% url 'warehouse:index' %}"
							>Worker</a
						>
					</li>
					<li class="option purple--border-3px">
						<a class="option--link" href="{% url 'farmer:index' %}"
							>Farmer</a
						>
					</li>
				</ul>
			</div>
		</main>
	</body>
</html>
