* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;

	font-family: "Montserrat", sans-serif;
}
.container {
	/* max-width: 700px; */
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	background: #fff;
	/* padding: 25px 30px; */
	border-radius: 5px;

	overflow-y: hidden;
}
.logo-img {
	width: 16rem;
}

.registration--form--block {
	max-width: 56rem;
	margin-right: 5.2rem;
}
.registration--form {
	margin-top: 5.2rem;
}
.navbar {
	display: flex;
	align-items: center;
	padding-top: 2rem;
	justify-content: space-between;
}

.LogIn--option {
	color: #e40b31;
}

.LogIn--option:hover,
.LogIn--option:active {
	text-decoration: none;
}

.Background--image {
	height: 100vh;
}

.title {
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	line-height: 21px;
	position: relative;
	margin-bottom: 1rem;
}

.container form .user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.home--logIn {
	display: flex;
	flex-direction: row;
}

.to-home {
	margin-right: 3rem;
	text-decoration: none;
	color: #e40b31;
}

.to-home:hover {
	color: #89071d;
}

.to-home:active {
	color: #89071d;
	text-decoration: underline;
}

.details {
	color: #444;
}
form .user-details .input-box {
	margin: 1rem 0 12px 0;
	width: calc(100% / 2 - 2rem);
}
.user-details .input-box .details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
.user-details .input-box .text--input-box {
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}
.user-details .input-box .text--input-box:focus,
.user-details .input-box .text--input-box:valid {
	border-color: #e40b31;
}

.password-input--box {
	position: relative;
}

.password-input--box i {
	position: absolute;
	top: 55%;
	right: 20px;
	color: #999;
	font-size: 1rem;
	cursor: pointer;
}

.content {
	margin-left: 2rem;
}

.requirement-list {
	list-style: none;
}
.content p {
	font-weight: 500;
	margin-bottom: 5px;
}

.requirement-list li i {
	font-size: 0.5rem;
	color: #555;
	width: 14px;
	margin-right: 0.2rem;
}
.requirement-list li {
	display: flex;
	align-items: center;
}

.requirement-list li.valid i {
	font-size: 0.8rem;
	color: green;
	width: 20px;
}

.valid {
	color: #555;
}

form .submit--button input {
	padding: 0.8rem 5rem;
	background-color: #e40b31;
	color: #fff;
	border: none;
	border-radius: 4px;

	font-weight: 400;
	letter-spacing: 0.1rem;
	font-size: 1rem;
	margin-top: -1rem;
}
.submit--button input:hover {
	background-color: hsla(349, 91%, 47%, 0.7);
}

.Show-password--checkoption {
	display: flex;
	width: 1rem;
	margin-right: 0.4rem;
	padding: 0;
}
.show--password--block {
	display: flex;
	margin: 1.4rem 0 0.4rem 0;
}
.submit--button {
	display: flex;
	justify-content: flex-start;
}

@media (max-width: 584px) {
	.container {
		max-width: 100%;
	}
	form .user-details .input-box {
		margin: 20px 0 12px 0;
		width: 100%;
	}
	form .gender-details .category {
		width: 100%;
	}

	.container form .user-details {
		max-height: 300px;
		overflow-y: scroll;
	}
	.user-details::-webkit-scrollbar {
		width: 0;
	}
}

/* Alert */
.alert {
	min-height: 67px;
	width: 560px;
	max-width: 90%;
	border-radius: 12px;
	padding: 16px 22px 17px 20px;
	display: flex;
	align-items: center;
}

.warning--message {
	position: fixed;
	top: 2rem;
	left: 40%;
}

.messages {
	color: white;
	list-style: none;
	font-size: 0.8rem;
	margin-left: 4rem;
}

.alert-error {
	background: #e41749;
}
.icon__wrapper {
	height: 34px;
	width: 34px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.253);
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon__wrapper span {
	font-size: 21px;
	color: #fff;
}
.alert p {
	color: #fff;
	font-family: Verdana;
	margin-left: 10px;
}
.alert p a,
.alert p a:visited,
.alert p a:active {
	color: #fff;
}
.alert .open {
	margin-left: auto;
	margin-right: 5px;
}
.alert .close,
.alert .open {
	color: #fff;
	transition: transform 0.5s;
	font-size: 18px;
	cursor: pointer;
}
.alert .close:hover,
.alert .open:hover {
	transform: scale(1.3);
}
