<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="UTF-8" />
		<title>Contact Us</title>
		<link rel="stylesheet" href="contact_us.css">	
</head>

<body>   
    <div class="container">
        <h1>Connect With Us!</h1>
        <p>We would love to respond to your queries.<br>Feel free to get in touch with us.</p>
        <div class="contact-box">
            <div class="contact-left">
                <h3>Send your request</h3>
                <form>
                    <div class="input-row">
                        <div class="input-group">
                            <label>Name</label>
                            <input type="text" placeholder="Your Name">                 
                          
                            <label>Phone No.</label>
                            <input type="text" placeholder="Your phone number">          
                        </div>
                        <div class="input-group">    
                            <label>Email</label>
                            <input type="email" placeholder="Your email">        
                         
                            <label>Query</label>
                            <input type="text" placeholder="Your query">           
                        </div>
                    </div>
                    <label>Description</label>
                    <textarea name="" id="" cols="30" rows="5" placeholder="Describe the query"></textarea>
                    
                    <button type="submit">Submit Query</button>
                    
                </form>
            </div>
            <div class="contact-right">
                <h3>Reach Us</h3>
                <table>
                    <tr>
                        <td>Email:</td>
                        <td>warehousewise@gmail.com</td>   
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>+91 985671 12655</td>   
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td> DA-IICT,<br>Reliance Cross Rd,<br>Gandhinagar, Gujarat - 382007</td>   
                    </tr>
                </table>
            </div>
        </div>
	</div>
</body>
</html>
