<h1> Enter details about  Warehouse</h1>

{% block content %}
    <form action="{% url 'warehouse:registerEntry'%}" method="post">
    {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="latitude">Latitude:</label><br>
        <input type="number" id="latitude" name="latitude"><br><br>
        <label for="longitude">Longitude:</label><br>
        <input type="number" id="longitude" name="longitude"><br><br>
        <label for="storage_capacity">Storage capacity:</label><br>
        <input type="number" id="storage_capacity" name="storage_capacity"><br><br>

        <h1> Enter details about  Yourself</h1>
        
        <label for="firstName">First name:</label><br>
        <input type="text" id="firstName" name="firstName"><br>
        <label for="lastName">Last name:</label><br>
        <input type="text" id="lastName" name="lastName"><br><br>
        <label for="phoneNum">Mobile Number:</label><br>
        <input type="text" id="phoneNum" name="phoneNum"><br><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form> 
{% endblock %}