<!-- {% block content %}


    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <form action="{% url 'warehouse:itemJustEntry'%}" method="post">
    {% csrf_token %}
        <label for="itemName">Item Name:</label><br>
        <input type="text" id="itemName" name="itemName"><br><br>
        <label for="minTemp">Min Temperature:</label><br>
        <input type="text" id="minTemp" name="minTemp"><br><br>
        <label for="maxTemp">Max Temperature:</label><br>
        <input type="text" id="maxTemp" name="maxTemp"><br><br>
        <label for="storageLife">Max Storage Life in days:</label><br>
        <input type="text" id="storageLife" name="storageLife"><br><br>
        <label for="isCrop">Is this item a crop?:</label>
        <select id="isCrop" name="isCrop">
          <option value="True">Yes</option>
          <option value="False">No</option>
        </select>
        <br><br>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form> 
{% endblock %}
 -->

 {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale-1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

		<link rel="stylesheet" href="{% static 'styles/addItem.css' %}" />


		<title>Add Items</title>
	</head>

	<body>
		<div class="container">
				{% if messages %}
					<div class="warning--message">
						<div class="alert alert-error">
							<div class="icon__wrapper">
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M236.8,188.09,149.35,36.22h0a24.76,24.76,0,0,0-42.7,0L19.2,188.09a23.51,23.51,0,0,0,0,23.72A24.35,24.35,0,0,0,40.55,224h174.9a24.35,24.35,0,0,0,21.33-12.19A23.51,23.51,0,0,0,236.8,188.09ZM222.93,203.8a8.5,8.5,0,0,1-7.48,4.2H40.55a8.5,8.5,0,0,1-7.48-4.2,7.59,7.59,0,0,1,0-7.72L120.52,44.21a8.75,8.75,0,0,1,15,0l87.45,151.87A7.59,7.59,0,0,1,222.93,203.8ZM120,144V104a8,8,0,0,1,16,0v40a8,8,0,0,1-16,0Zm20,36a12,12,0,1,1-12-12A12,12,0,0,1,140,180Z"></path></svg>
							</div>
							
								<ul class="messages">
									{% for message in messages %}
									<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
									{% endfor %}
								</ul>
								<span class="mdi mdi-open-in-new open"></span>
								<span class="mdi mdi-close close"></span>
						</div>
					</div>
			{% endif %}
			<aside>
				<div class="top">
					<div class="logo">
						<img src="{% static 'Images/WarehouseWise.png' %}" />
					</div>
					<div class="close" id="close-btn">
						<span class="material-symbols-outlined"> close </span>
					</div>
				</div>
				<div class="sidebar">
					<a href="{% url 'warehouse:returnhome' %}">
						<img
							src="{% static '/Images/navbar/house.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Home</h3>
					</a>

					<a
						href="{% url 'warehouse:mailPDF' %}"
					>
						<img
							src="{% static '/Images/navbar/list-plus.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Mail PDF</h3>
					</a>

					<a href="{% url 'warehouse:showReservations' %}">
						<img
							src="{% static '/Images/navbar/file-edit-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Modify Registraion</h3>
					</a>
					<a href="{% url 'warehouse:showReservations' %}">
						<img
							src="{% static '/Images/Navbar/report-text-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Show Registrations</h3>
					</a>
					<a href="{% url 'warehouse:generatePDF' %}">
						<img
							src="{% static '/Images/Navbar/file-arrow-down.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Generate Report</h3>
					</a>
					<a href="{% url 'warehouse:addJustItem' %}" class="active">
						<img
							src="{% static '/Images/Navbar/add-to-queue-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Add Item</h3>
					</a>
					<a href="{% url 'warehouse:performVideoCall' %}">
						<img
							src="{% static '/Images/Navbar/video-camera.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Video Call</h3>
					</a>

					<a href="{% url 'warehouse:logout' %}">
						<img
							class="navbar--menu-icon"
							src="{% static '/Images/navbar/logout-svgrepo-com.svg' %}"
							alt=""
						/>
						<h3>Logout</h3>
					</a>
				</div>
			</aside>
			<main>
				<div class="title--heading">
					<h1 class="page--title">Add items</h1>
				</div>
				<div class="content">
					<form action="{% url 'warehouse:itemJustEntry'%}" method="POST">
						{% csrf_token %}
                         <div class="user-details">
                             <div class="input-box">
                                 <label class="details">Item Name</label>
                                 <input
                                     type="text"
                                     name="itemName"
                                     id="itemName"
                                     placeholder="Enter item Name"
                                     required
                                 />
                             </div>
                             <br />
                             <div class="input-box">
                                 <label class="details">Min Temperature:</label>
                                 <input
                                     type="number"
                                     name="minTemp"
                                     id="minTemp"
                                     placeholder="Enter min Temperature "
                                     required
                                 />
                             </div>
                             <br />
                             <div class="input-box">
                                 <label class="details">Max Temperature:</label>
                                 <input
                                     type="number"
                                     name="maxTemp"
                                     id="maxTemp"
                                     placeholder="Enter max Temperature"
                                     required
                                 />
                             </div>
                             <br />
                             <div class="input-box">
                                 <label class="details"
                                     >Max Storage Life in days:</label
                                 >
                                 <input
                                     type="number"
                                     name="storageLife"
                                     id="storageLife"
                                     placeholder="Enter max storage life in days"
                                     required
                                 />
                             </div>
                             <br />
                             <div class="input-box">
                                 <label class="details" for="isCrop">Is this item a crop?:</label>
                                 <select id="isCrop" name="isCrop">
                                     <option value="True" selected>Yes</option>
                                     <option value="False">No</option>
                                 </select>
                             </div>
                         </div>
                         <div class="button">
                             <input id="submit" type="submit" value="submit" />
                         </div>
                     </form>
				</div>
			</main>
		</div>
	</body>
</html>
