<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse</title>
    <link rel="stylesheet" href="./styles/w-home.css">

</head>

<body>
    <header>
        <div class="banner">
            <div class="navbar">
                <img src="./Images/wh_logo.png" class="logo">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#" class="button">Services</a></li>

                    <div class="center">

                        <li><a href="#" class="btn1">Login</a></li>
                        <div class="hr"> </div>
                        <li><a href="#" class="button">Sign Up</a></li>
                         </div> 
                    </div>
                </ul>
            </div>
        </div>
    </header>
</body>

</html> -->


<!-- Generate pdf -->

<!-- <h3>Download Report</h3>

<form action="{% url 'warehouse:generatePDF'%}" method="post">
    {% csrf_token %}
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="Submit">        
</form> -->
<a href="{% url 'warehouse:generatePDF' %}" class="btn btn-primary">Download Report</a>
<!-- <h3>Email report</h3> -->

<!-- <form action="{% url 'warehouse:mailPDF'%}" method="post">
    {% csrf_token %}
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="Submit">        
</form> -->
<a href="{% url 'warehouse:mailPDF' %}" class="btn btn-primary">Email Report</a>
<a href="{% url 'warehouse:performVideoCall' %}" class="btn btn-primary">Video Call</a>
<!-- <h3>Start Video Call</h3>

<form action="{% url 'warehouse:videoCall'%}" method="post">
    {% csrf_token %}
        <label for="userEmail">Enter the user email: </label><br>
        <input type="text" id="userEmail" name="userEmail"><br><br>
        <label for="managerEmail">Enter your email: </label><br>
        <input type="text" id="managerEmail" name="managerEmail"><br><br>
        <input type="submit" value="Submit">        
</form> -->


<a href="{% url 'warehouse:showReservations' %}" class="btn btn-primary">Show Reservations</a>