{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale-1.0" />

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap"
			rel="stylesheet"
		/>

        	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            

		<!-- Style link -->
		<link rel="stylesheet" href="{% static 'styles/worker-login.css' %}" />

		<title>Login Form</title>
	</head>

	<body>
		<nav class="navbar">
			<div class="Logo">
				<h1>Logo</h1>
			</div>
			<ul class="nav--items">
				<li><a class="nav--item black--text" href="{% url 'warehouse:index' %}">Home</a></li>
				<li><a class="nav--item" href="#">Contacts</a></li>
				<li><a class="nav--item" href="#">About US</a></li>
				<li>
					<a class="nav--item Service--button" href="#">Services</a>
				</li>
			</ul>
        </nav>
        <div class="container">
            <div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
            <form action="{% url 'warehouse:loginValidate'%}" method="post" class="form">
                {% csrf_token %}

            <h2 class="heading"><span>Worker</span> Login</h2>
            <div class="input--container">
                <h5 class="input--label">Email</h5>
                <input type="email" id="email" name="email" class="box" >
            </div>
            <div class="input--container">
                 <h5 class="input--label">Password</h5>
                <input type="password" id="password" name="password" class="box" >
            </div>
            <input type="submit" value="Submit" id="submit">
            <div class="sign--up-prompt">
                <p>Don't Have An Account ?</p>
                <a href="{% url 'warehouse:register' %}">Sign up</a>
            </div>
            </form>
              <div class="side"></div>
    </div>

        <script>
            {% comment %} document
                .getElementById("register-btn")
                .addEventListener("click", function () {
                    window.location.href = "{% url 'warehouse:register' %}";
                }); {% endcomment %}
        </script>

    </body>
</html>

