{% block content %}
    <div>
        Reservations made on this warehouse are:
        <br><br>
        {% for item in items %}
            <div>
                Item Name: {{ item.item_name }} <br>
                Farmer Email: {{ item.farmer_email }} <br>
                Start Date: {{ item.start_date }} <br>
                End Date: {{ item.end_date }} <br>
                Quantity: {{ item.quantity }} kg <br>
                <a href="{% url 'warehouse:modifyReservation' item.reservation_id %}" class="btn btn-primary">Modify Reservation</a>
            </div>
            <br><br><hr>
        {% endfor %}
    </div>
{% endblock %}