<!-- {% block content %}
    <div>
        <script type="text/javascript"> 
            var a = "{{items}}";
            // a.forEach((Element) => {
            //     console.log(Element.item_name);
            // })

            console.log(a);
         </script>
         
        Reservations made on this warehouse are:
        <br><br>
        {% for item in items %}
            <div>
                Item Name: {{ item.item_name }} <br>
                Farmer Email: {{ item.farmer_email }} <br>
                Start Date: {{ item.start_date }} <br>
                End Date: {{ item.end_date }} <br>
                Quantity: {{ item.quantity }} kg <br>
                <a href="{% url 'warehouse:modifyReservation' item.reservation_id %}" class="btn btn-primary">Modify Reservation</a>
                <a href="{% url 'warehouse:deleteReservation' item.reservation_id %}" class="btn btn-primary">Delete Reservation</a>
            </div>
            <br><br><hr>
        {% endfor %}
    </div>
{% endblock %} -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale-1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

		<link rel="stylesheet" href="{% static 'styles/showData.css' %}" />

		<title>Show Reservation</title>
	</head>

	<body>

		<div class="container">
				{% if messages %}
					<div class="warning--message">
						<div class="alert alert-error">
							<div class="icon__wrapper">
								<svg fill="#ffff" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M256,0C114.837,0,0,114.843,0,256s114.837,256,256,256s256-114.843,256-256S397.163,0,256,0z M376.239,227.501 L257.348,346.391c-13.043,13.043-34.174,13.044-47.218,0l-68.804-68.804c-13.044-13.038-13.044-34.179,0-47.218 c13.044-13.044,34.174-13.044,47.218,0l45.195,45.19l95.282-95.278c13.044-13.044,34.174-13.044,47.218,0 C389.283,193.321,389.283,214.462,376.239,227.501z"></path> </g> </g> </g></svg>
							</div>
							
								<ul class="messages">
									{% for message in messages %}
									<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
									{% endfor %}
								</ul>
								<span class="mdi mdi-open-in-new open"></span>
								<span class="mdi mdi-close close"></span>
						</div>
					</div>
			{% endif %}
			<aside>
				<div class="top">
					<div class="logo">
						<img src="{% static 'Images/WarehouseWise.png' %}" />
					</div>
					<div class="close" id="close-btn">
						<span class="material-symbols-outlined"> close </span>
					</div>
				</div>
				<div class="sidebar">
					<a href="{% url 'warehouse:returnhome' %}">
						<img
							src="{% static '/Images/navbar/house.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Home</h3>
					</a>

					<a
						href="{% url 'warehouse:mailPDF' %}"
					>
						<img
							src="{% static '/Images/navbar/list-plus.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Mail PDF</h3>
					</a>

					<a href="{% url 'warehouse:showReservations' %}">
						<img
							src="{% static '/Images/navbar/file-edit-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Modify Reservations</h3>
					</a>
					<a href="{% url 'warehouse:showReservations' %}" class="active">
						<img
							src="{% static '/Images/Navbar/report-text-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Show Reservations</h3>
					</a>
					<a href="{% url 'warehouse:generatePDF' %}">
						<img
							src="{% static '/Images/Navbar/file-arrow-down.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Generate Report</h3>
					</a>
					<a href="{% url 'warehouse:addJustItem' %}">
						<img
							src="{% static '/Images/Navbar/add-to-queue-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Add Item</h3>
					</a>
					<a href="{% url 'warehouse:performVideoCall' %}">
						<img
							src="{% static '/Images/Navbar/video-camera.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Video Call</h3>
					</a>

					<a href="{% url 'warehouse:logout' %}">
						<img
							class="navbar--menu-icon"
							src="{% static '/Images/navbar/logout-svgrepo-com.svg' %}"
							alt=""
						/>
						<h3>Logout</h3>
					</a>
				</div>
			</aside>
			<main>
				<div class="title--heading">
					<h3 class="page--title">Show Reservations</h3>
				</div>
				<div class="show--registration">
					<table>
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Farmer Email</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Quantity</th>
                                <th>Modify Items</th>
                                <th>Delete Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.item_name }}</td>
                                    <td>{{ item.farmer_email }}</td>
                                    <td>{{ item.start_date }}</td>
                                    <td>{{ item.end_date }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>
                                        <a href="{% url 'warehouse:modifyReservation' item.reservation_id %}">
                                            <button class="button-45" role="button">
                                                Modify
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'warehouse:deleteReservation' item.reservation_id %}">
                                            <button class="button-45" role="button">
                                                Delete
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
				</div>
			</main>
		</div>
	</body>
</html>
