<!-- <h3>Start Video Call</h3>

<form action="{% url 'warehouse:videoCall'%}" method="post">
    {% csrf_token %}
        <label for="userEmail">Enter the user email: </label><br>
        <input type="text" id="userEmail" name="userEmail"><br><br>
        <label for="managerEmail">Enter your email: </label><br>
        <input type="text" id="managerEmail" name="managerEmail"><br><br>
        <input type="submit" value="Submit">        
</form>
 -->
 {% if messages %}
 <ul class="messages">
	 {% for message in messages %}
	 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	 {% endfor %}
 </ul>
 {% endif %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Video Call</title>
		<link rel="stylesheet" href="{% static 'styles/videoCall.css' %}" />

		<!-- Icons -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<!-- Material Icons -->
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
	</head>

	<body>
		<div class="container">
			<aside>
				<div class="top">
					<div class="logo">
						<img src="{% static 'Images/WarehouseWise.png' %}" />
					</div>
					<div class="close" id="close-btn">
						<span class="material-symbols-outlined"> close </span>
					</div>
				</div>
				<div class="sidebar">
					<a href="{% url 'warehouse:returnhome' %}">
						<img
							src="{% static '/Images/navbar/house.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Home</h3>
					</a>

					<a
						href="{% url 'warehouse:mailPDF' %}"
					>
						<img
							src="{% static '/Images/navbar/list-plus.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Mail PDF</h3>
					</a>

					<a href="{% url 'warehouse:showReservations' %}">
						<img
							src="{% static '/Images/navbar/file-edit-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Modify Reservations</h3>
					</a>
					<a href="{% url 'warehouse:showReservations' %}">
						<img
							src="{% static '/Images/Navbar/report-text-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Show Reservations</h3>
					</a>
					<a href="{% url 'warehouse:generatePDF' %}">
						<img
							src="{% static '/Images/Navbar/file-arrow-down.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Generate Report</h3>
					</a>
					<a href="{% url 'warehouse:addJustItem' %}">
						<img
							src="{% static '/Images/Navbar/add-to-queue-svgrepo-com.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Add Item</h3>
					</a>
					<a href="{% url 'warehouse:performVideoCall' %}" class="active">
						<img
							src="{% static '/Images/Navbar/video-camera.svg' %}"
							alt=""
							class="navbar--menu-icon"
						/>
						<h3>Video Call</h3>
					</a>

					<a href="{% url 'warehouse:logout' %}">
						<img
							class="navbar--menu-icon"
							src="{% static '/Images/navbar/logout-svgrepo-com.svg' %}"
							alt=""
						/>
						<h3>Logout</h3>
					</a>
				</div>
			</aside>
			<!-- END OF ASIDE -->
			<main>
				<h1 class="page--title">Start Video call</h1>
			
				<div class="Generate-report--div">
                    <p>To start a video call fill int the following details</p>
					<form action="{% url 'warehouse:videoCall'%}" method='POST'>
						{% csrf_token %}
						<div class="user-details">
							<div class="input-box">
								<label class="details">Enter customer email</label>
								<input
									type="email"
									name="userEmail"
									id="userEmail"
									placeholder="Customer Email"
									required
								/>
							</div>
							<div class="input-box">
								<label class="details">Enter your Email </label>
								<input
									type="email"
									name="managerEmail"
									id="managerEmail"
									placeholder="Your Email"
									required
								/>
							</div>
						</div>
							  <button class="button" type="submit">Start Video Call  <img class="download-svg" src="{% static '/Images/webcam.svg' %}"> </button>
					</form>
                </div>
				</div>
			</main>
		</div>
	</body>
</html>
