<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap"
        rel="stylesheet">
    <!-- Style link -->
    <link rel="stylesheet" href="style.css">

    <title>Login Form</title>
</head>

<body>
    <nav class="navbar">
        <div class="Logo">
            <h1>Logo</h1>
        </div>
            <ul class="nav--items">
                <li><a class="nav--item black--text" href="#">Home</a></li>
                <li><a class="nav--item" href="#">Contacts</a></li>
                <li><a class="nav--item" href="#">About US</a></li>
                <li><a class="nav--item Service--button" href="#">Services</a></li>
            </ul>

    </nav>
    <div class="container">
        <form action="" class="form">
            <h2 class="heading"><span>Worker</span> Login</h2>
            <div class="input--container">
                <h5 class="input--label">Email</h5>
                <input type="email" name="email" class="box" >
            </div>
            <div class="input--container">
                 <h5 class="input--label">Password</h5>
                <input type="password" name="password" class="box" >
            </div>
            <input type="submit" value="Log In" id="submit">
            <div class="sign--up-prompt">
                <p>Don't Have An Account ?</p>
                <a href="../Sign_up page/registration.html">Sign up</a>
            </div>
        </form>
        <div class="side"></div>
</body>
</div>

</html>