<!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<title>Responsive Registration Form | Warehouse manegment</title>
		4

		<!-- Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="./css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<div class="container">
			<div>
				<img
					class="Background--image"
					src="./css/Images/Background.svg"
					alt=""
				/>
			</div>
			<div class="registration--form--block">
				<div class="navbar">
					<h2>Logo</h2>
					<p>Already Have an Account ? <a class="LogIn--option" href="../Log_In Page/index.html">LogIn</a></p>
				</div>
				<div class="registration--form">
					<div class="title">Registration</div>
					<form action="#">
						<div class="user-details">
							<div class="input-box">
								<span class="details">First Name</span>
								<input
                                class="text--input-box"
									type="text"
									placeholder="Enter your first name"
									required
								/>
							</div>
							<div class="input-box">
								<span class="details">Last Name</span>
								<input
                                class="text--input-box"
									type="text"
									placeholder="Enter your last name"
									required
								/>
							</div>

							<div class="input-box">
								<span class="details">Email</span>
								<input
                                class="text--input-box"
									type="text"
									placeholder="Enter your email"
									required
								/>
							</div>

							<div class="input-box">
								<span class="details">Phone number</span>
								<input
                                class="text--input-box"
									type="text"
									placeholder="Enter your number"
									required
								/>
							</div>

							<div class="input-box">
								<span class="details">Password</span>
								<input
                                class="text--input-box"
									type="password"
									placeholder="Enter your Password"
									required
								/>
							</div>
							<div class="input-box">
								<span class="details">Confirm password</span>
								<input
                                class="text--input-box"
									type="password"
									placeholder="Confirm your password"
									required
								/>
                                <!-- <div class="show--password--block">
                                    <input class="Show-password--checkoption" type="checkbox">Show password
                                </div> -->
							</div>
                            <div>
						</div>
						<div class="submit--button">
							<input type="submit" value="Registration" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
